public/workflows/auto-bloga.json
{
  "name": "AutoBloga mini V2.5 English - with Datatables OpenAI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        320
      ],
      "id": "1a961bd9-b546-4897-99f4-ef1cb55bea2a",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "operation": "google_news",
        "q": "ai",
        "additionalFields": {
          "gl": "us",
          "hl": "en"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        752,
        320
      ],
      "id": "6474ebd8-ca24-4029-ba21-89acaa9a98f8",
      "name": "Google_news search",
      "credentials": {
        "serpApi": {
          "id": "Zc0BSPe7Jrtmi2sn",
          "name": "SerpApi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"This is the blog post title\",\n  \"content\": \"full content of the article and any insights you may have\",\n  \"url\": \"this is the article url we should scrap - get it from the actual news\",\n\"research_phrase\": \"short research phrase to use in the ai researcher. It must have some context about the article subject and not vague\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1408,
        640
      ],
      "id": "1715fcbf-c97d-4c23-8084-6a2b275fc5de",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search Parameters:\n{{ JSON.stringify($json.search_parameters) }}\n\nResults:\nResult 1:\n{{ JSON.stringify($json.news_results[0]) }}\n\nResult 2:\n{{ JSON.stringify($json.news_results[1]) }}\n\nResult 3:\n{{ JSON.stringify($json.news_results[2]) }}\n\nResult 4:\n{{ JSON.stringify($json.news_results[3]) }}\n\nResult 5:\n{{ JSON.stringify($json.news_results[4]) }}\n\nResult 6:\n{{ JSON.stringify($json.news_results[5]) }}\n\nResult 7:\n{{ JSON.stringify($json.news_results[6]) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert content writer for our succesful new blog called: \"AI Daily\". Our blog is about daily ai updates, with strong connections to trends, new releases and with very practical focus. Not just updates.\nOur moto is:\nAI Daily - Daily AI news for everyone.\n\n1. Go through the latest news you will get from the user - and decide on 1 topic we should write about in our daily post. You must not repeat past blog posts / articles. Take into consideration past posts (don't repeat posts, keep it diversed), the relevance of the new idea, and above all, the date of the news must be from the last 7 days. Today is {{ $now }}, so this means the news must be after the {{ $now.minus(7, 'days') }}.\n2. Use the scrap_url tool only once, to scrap the best news article url you think will be the best for the blog post. Use it only once.\n\nYou must not repeat articles that were already published. Here is the updated list of updated articles - avoid repeating them at all cost:\n\n\nThe blog post must in English, as we are an english based blog. \nYour output should be the following json (values are example):\n{{ JSON.stringify($('Aggregate').item.json.data) }}\n{\n  \"title\": \"This is the blog post title\",\n  \"content\": \"full content of the article and any insights you may have. output the content in structured HTML format using semantic tags like <h1>, <h2>, <p>, <ul>, <li>, <code>, <pre>, and <div dir='ltr'>.\",\n  \"url\": \"this is the article url we should scrap - get it from the actual news\",\n\"research_phrase\": \"short research phrase to use in the ai researcher. It must have some context about the article subject and not vague\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1152,
        320
      ],
      "id": "bafdc3c8-4e33-4421-a7df-061e317e316c",
      "name": "AI Topic Picker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Main content from research:\n{{ $json.output[0].content[0].text }}\n\nContent from original article:\n{{ $('AI Topic Picker').item.json.output.content }}\n\nOriginal article url:\n{{ $('AI Topic Picker').item.json.output.url }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert content writer for our succesful global blog called: \"AI Daily\". Our blog is about daily AI updates, with strong connections to trends, new releases and with very practical focus. Not just updates, but here is what you can do with it.\nOur moto is:\nAI Daily - Daily AI news for everyone.\nYou are part of a world-class blog team creating SEO-optimized content about AI technology.\n\nEach day, your team publishes one blog post about the hottest news in the AI field. As the blog's copywriter, you are provided with:\n\n- Main Topic: The daily blog post subject. This is the most significant trending topic in the field.\n- Research Findings: Research from highly credible sources about the post topic. Your blog post must be based on this research.\n\nBased on this information, write a comprehensive yet accessible blog post that:\n\n- Places the main topic in the blog title, H1 heading, and at the beginning of the introduction\n- Includes all details from the research findings\n- Explains complex technical concepts in simple, straightforward language that a 5th grader could understand\n- Maintains a curious, exciting, and engaging tone that makes readers feel both informed and interested\n- Flows naturally and logically from one point to the next\n- Has a length of around 7 minutes read. 6 minutes minimum.\n- Uses plain language, simple sentences, and clear explanations for technical terms\n- Breaks down complex ideas into digestible chunks with examples and analogies\n- Includes section headings, bullet points, and visual breaks to improve readability\n- All must be in English, LTR aligned.\noutput the content in structured HTML format using semantic tags like <h1>, <h2>, <p>, <ul>, <li>, <code>, <pre>, and <div dir='ltr'>.\nThe format must be easy to read and follow, more of a story than a list of points. Use simple words and not too techie - try to explain concepts in simple words.\n\nAlways start by getting previouses blog posts we published using the get_past_posts tool.\n\nToday is {{ $now }}\nYour output must include all the following fields:\n\n{\n  \"title\": \"This is the blog post title\",\n  \"body\": \"This is the full blog post content. Must be well structured, left to right. new lines, headers, bullets and everything. output the content in structured HTML format using semantic tags like <h1>, <h2>, <p>, <ul>, <li>, <code>, <pre>, and <div dir='ltr'>.\",\n  \"summary\": \"This is a summary of the blog post\",\n  \"image_url\": \"https://example.com/images/examplecorp-aws-partnership.jpg\",\n  \"source_url\": \"https://example.com/examplecorp-aws-partnership\",\n  \"date_published\": \"{{$now.format('yyyy-MM-dd')}}\",\n\"image_prompt\": \"a prompt to generate an image for the blog post\",\n\"image_search_term\": \"a short search term to use in finding images\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2032,
        320
      ],
      "id": "20fc93d4-0708-4e5f-9151-c4fbbfee4099",
      "name": "AI Content Writer"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"This is the blog post title\",\n  \"body\": \"This is the full blog post content. Must be well structured, left to right. new lines, headers, bullets and everything. output the content in structured HTML format using semantic tags like <h1>, <h2>, <p>, <ul>, <li>, <code>, <pre>, and <div dir='ltr'>.\",\n  \"summary\": \"This is a summary of the blog post\",\n  \"image_url\": \"https://example.com/images/examplecorp-aws-partnership.jpg\",\n  \"source_url\": \"https://example.com/examplecorp-aws-partnership\",\n  \"date_published\": \"{{$now.format('yyyy-MM-dd')}}\",\n\"image_prompt\": \"a prompt to generate an image for the blog post\",\n\"image_search_term\": \"a short search term to use in finindg images\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2256,
        624
      ],
      "id": "578e6ff9-e0e2-457b-b10c-dbf66d9ca751",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1984,
        608
      ],
      "id": "29499df6-22d6-41bd-a8de-c2d5d2c82f5e",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $('AI Content Writer').item.json.output.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2992,
        240
      ],
      "id": "3aa4dd37-9837-4a09-b9e4-2a73fd3ec17e",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "google_images",
        "q": "={{ $('AI Content Writer').item.json.output.image_search_term }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        2992,
        480
      ],
      "id": "be5895a8-85b8-44da-b4b3-55be777caea8",
      "name": "Google_images search",
      "credentials": {
        "serpApi": {
          "id": "Zc0BSPe7Jrtmi2sn",
          "name": "SerpApi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://example.com",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "ml_default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3152,
        240
      ],
      "id": "bcaedd55-0931-48fe-8587-3a19dbcdc253",
      "name": "העלאת התמונה לענן",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2496,
        512
      ],
      "id": "c954ef13-9a3a-4f2d-993f-1a56eb2e1396",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "content": "# Search for recent news\n",
        "height": 848,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        0
      ],
      "typeVersion": 1,
      "id": "5d21e077-4078-4ddd-9348-7c2a43ccd667",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Pick a topic - make 1st draft from article\n",
        "height": 848,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        0
      ],
      "typeVersion": 1,
      "id": "00dd0020-cc7f-4fa6-aba6-89ca4faab48f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Research",
        "height": 848,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        0
      ],
      "typeVersion": 1,
      "id": "cce9c9bb-48a6-41af-aed6-15654b36f927",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Create the content",
        "height": 848,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        0
      ],
      "typeVersion": 1,
      "id": "7cfb6d59-dd2e-419b-9728-560fbc5000a1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Finetune the content",
        "height": 848,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        0
      ],
      "typeVersion": 1,
      "id": "82c1afe3-1f4c-4594-8400-67ccc956b261",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Add media",
        "height": 848,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        0
      ],
      "typeVersion": 1,
      "id": "d4506f81-fa1e-429c-a571-779a8078fb14",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Store to db",
        "height": 848,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3552,
        0
      ],
      "typeVersion": 1,
      "id": "914ef8a6-123a-4cd8-8c23-e72a796f3b01",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Publish",
        "height": 848,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3280,
        0
      ],
      "typeVersion": 1,
      "id": "466a9cde-bdff-45d2-a94a-9ceac2b403c0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.body }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a design and SEO expert for our blog “AI Daily”.\nYour role is to take the written content and style it according to the following requirements:\n\t1.\tReadability & Formatting\n\t•\tThe content must be easy to read.\n\t•\tAdd spacing where necessary, including a new line between paragraphs.\n\t•\tThe entire output must be valid HTML.\n- no need for the \"html\" scope, remove it, only the syntax of the design.\n\n\t2.\tStructure & Styling\n\t•\tThe content must be organized neatly on the page.\n\t•\tUse a few bullet points, but ensure the overall structure feels clean and consistent.\n\t•\tApply bold text only where necessary.\n\n\t3.\tNarrative Style\n\t•\tThe content should feel more like a short story that is fun to read rather than just a list of points.\n\t•\tIt should engage the reader and spark interest.\n\t•\tThink of it as small, digestible “bites” of valuable information—interesting, but not too heavy.\n\nExample of a well-structured output suitable for our target audience - this is a shorter example. The actual post needs to be longer, 6 - 7 minutes read time. Pay attention to the structure, not \"html\" code at first, only the design syntax:\n\n<h1>Aura: Chromium based browser by OpenAI that will changes how you browse online</h1>\n<p>OpenAI is preparing to launch a Chromium-based browser codenamed \"Aura\". Aura is designed to challenge Google Chrome by integrating early artificial intelligence directly into the browsing experience, focusing on simplicity, productivity, and AI agents that can perform tasks on our behalf. In this post, we’ll get to know Aura, understand how it works, what advantages it offers, and why it might change the way we surf the internet.</p>\n\n<h2>1. What is the Aura browser?</h2>\n<p>Aura is built on Chromium, the open-source engine powering Chrome, Edge, and Opera:</p>\n<ul>\n  <li><strong>Familiar infrastructure:</strong> Chromium is like a Lego set: stable, widely supported, with thousands of extensions and features.</li>\n  <li><strong>Maximum compatibility:</strong> If most sites and web apps work on Chrome, they’ll also work on Aura.</li>\n  <li><strong>Customization:</strong> OpenAI can adapt the experience, enhance privacy, and easily integrate AI-powered tools.</li>\n</ul>\n\n<h2>2. Smart user interface and browsing experience</h2>\n<p>The biggest innovation in Aura is the integration of a ChatGPT-style chat window right in the middle of the browsing experience:</p>\n<ul>\n  <li><strong>Built-in chat:</strong> Instead of opening new tabs, users can ask questions and get answers directly within the chat window.</li>\n  <li><strong>Fewer clicks, more answers:</strong> No need to click on links—Aura itself can summarize or rephrase website content.</li>\n  <li><strong>Simplified explanation:</strong> Aura uses an iframe that blends AI commands with regular browsing, layering AI on top of the web view.</li>\n</ul>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2496,
        320
      ],
      "id": "f2ffec86-c99a-4d0d-b8d0-7e947fc50997",
      "name": "AI Optimizer"
    },
    {
      "parameters": {
        "content": "# Bring previous posts",
        "height": 848,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        0
      ],
      "typeVersion": 1,
      "id": "6f73311d-2078-4ac3-8c08-4021761c2b91",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Start",
        "height": 848,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3df601b8-0d00-41a7-bd0a-d016d9b0b05e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        640
      ],
      "id": "82de2b69-c805-4276-a7f5-c2287980b2f0",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get content from url - scrap",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `the url to get content for`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1264,
        640
      ],
      "id": "3039e222-4211-41ea-b0a6-7f5776a461eb",
      "name": "scrap_url2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iJZMhRliXKN0I2Gj",
          "mode": "list",
          "cachedResultName": "AutoBloga Posts",
          "cachedResultUrl": "/projects/OVBUsvld2ECXVkDA/datatables/iJZMhRliXKN0I2Gj"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        320
      ],
      "id": "5f3f8c24-f5f6-4ea8-8c61-25789bbbca77",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iJZMhRliXKN0I2Gj",
          "mode": "list",
          "cachedResultName": "AutoBloga Posts",
          "cachedResultUrl": "/projects/OVBUsvld2ECXVkDA/datatables/iJZMhRliXKN0I2Gj"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2128,
        624
      ],
      "id": "946ec0e5-0d88-4666-ab46-4b39fc103c8a",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "c96e0211-9f92-41dd-af44-187f97fb5a65",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.base44.com/api/apps/68c5b535a928c3d48afbb2b4/entities/BlogPost",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n            \"api_key\": \"Your-API-KEY\",\n            \"Content-Type\": \"application/json\"\n        }",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('AI Content Writer').item.json.output.title }}"
            },
            {
              "name": "body",
              "value": "={{ $('AI Optimizer').item.json.text }}"
            },
            {
              "name": "summary",
              "value": "={{ $('AI Content Writer').item.json.output.summary }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.images_results[0].original }}"
            },
            {
              "name": "source_url",
              "value": "={{ $('AI Content Writer').item.json.output.source_url }}"
            },
            {
              "name": "published_date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        480
      ],
      "id": "f1709ab9-ad4a-4e2f-ad58-2fd773cea3c6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Research for the following topic. This should  be context for a blog article about the subject:\n{{ $json.output.research_phrase }}"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1616,
        320
      ],
      "id": "42d5211f-fa04-4bc3-9afe-82d47e3b83ef",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_news search": {
      "main": [
        [
          {
            "node": "AI Topic Picker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Topic Picker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Topic Picker": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Writer": {
      "main": [
        [
          {
            "node": "AI Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Content Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "העלאת התמונה לענן",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_images search": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Optimizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimizer": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google_images search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Topic Picker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "scrap_url2": {
      "ai_tool": [
        [
          {
            "node": "AI Topic Picker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Content Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Google_news search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "AI Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f818821d-5378-46d8-835e-d8dfdae771e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da3b977dba2baf342ff54f2a19901e9b8b6f67e2ffb5e56c9485823b1ebc4782"
  },
  "id": "WI3oxbV4vUPYT0eR",
  "tags": []
}