public/workflows/inbox-ninja.json
{
  "name": "InboxNinja",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "q": "newer_than:3h",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        464
      ],
      "id": "47ea9ec4-006c-410f-ba19-6ba210af2eb2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        768
      ],
      "id": "80e4ce09-b898-4c84-a54f-d6d6fb2e548a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1726149429113584717"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4dd8cc1e-b17e-4980-988a-8bb74229932a",
      "name": "Promotions",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3774338851023705199"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "29cc0ca0-78dc-4dc9-a1a6-57f8ff42deec",
      "name": "Personal",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6857815015779569876"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        752
      ],
      "id": "2501b8e6-efa1-4dd8-a00c-b4dd27888c14",
      "name": "Receipts",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8963592968220343160"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        944
      ],
      "id": "a427e510-ef0b-4cbf-a8f5-d1d47a355b47",
      "name": "Other",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "ed96445a-3118-411d-9421-5af5bb962c84",
      "name": "Mark as read",
      "webhookId": "2d2d23a1-58e2-4eaf-b528-0198bb7513ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2410605556899638677"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "45c8aed5-7f37-473f-ae1e-fe121b91fce6",
      "name": "Newsletters",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        1408
      ],
      "id": "7552bc9b-a5b1-409e-85dd-7b7dc5786b06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"vendor\": \"OpenAI\",\n\t\"amount\": \"29.99$\",\n  \"receipt id\": \"7123283928dhk217\",\n   \"from\": \"example@email.com\",\n  \"file\": \"billing25_89.pdf\",\n   \"description\": \"This is an invoice from example about you monthly subscription to the X product\",\n  \"flag\": \"This receipt is above average. Normally it is 19.99$ and this one is 29.99$. I recommend checking your billing.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1104,
        704
      ],
      "id": "59d692d7-97d2-4e06-babd-77c0180993fa",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        1600
      ],
      "id": "0c06d8bf-4d5e-4d0c-b2f3-1c2a692c5649",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE",
          "mode": "list",
          "cachedResultName": "Newsletters_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        112,
        1600
      ],
      "id": "e25420f4-d86a-4017-a5fd-70493cbe8e2d",
      "name": "Get_Newsletters",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buw65r2PfdoDfObe",
          "name": "Google Sheets shay152"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nFrom: {{ $json.From }}\nEmail body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is for any email that is looking to sell me things"
            },
            {
              "category": "Newsletter",
              "description": "This is for any email that is a newsletter"
            },
            {
              "category": "Personal",
              "description": "This is for any email sent from a friend or a family members or something that looks personal and was sent to me outside of work.\nThis does not include LinkedIn emails."
            },
            {
              "category": "Customers",
              "description": "Anything regarding my clients sending over documents, sales, etc.\nThis are also kind of personal, but around business. not generic ones. \nEmails from Vercel are not to be included in this category. "
            },
            {
              "category": "Receipts",
              "description": "These are transaction emails for receipts, expenses, payments confirmation\nThis could be in any language - most likely in English or Hebrew\nCan contain words like receipts specifically or even things like פירוט חיובים and such"
            },
            {
              "category": "Other",
              "description": "Anything that doesn't fall within the other categories"
            },
            {
              "category": "Social",
              "description": "This is for everything that is social media related updates: Linkedin, Facebook, Instagram etc...\nDon't tag here things that need my immediate attention - Excluding updates on messages i received from other members or connection invites."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -528,
        384
      ],
      "id": "e24cbcc2-d8e9-490a-9818-27656ba50a0d",
      "name": "Email Classifier"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        224
      ],
      "id": "67eba2fc-9336-4f10-8ae7-ed7d6f2ff653",
      "name": "Get Full Newsletter",
      "webhookId": "70a9b148-3aec-4d1c-8f27-2f0081ca96c5",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE",
          "mode": "list",
          "cachedResultName": "Newsletters_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J0OzZoD8ovlw2ox0KNOPWKXE3XCl5xbCISzuLyeqkBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $now.format('yyyy/MM/dd') }}",
            "id": "={{ $('Gmail Trigger').item.json.id }}",
            "content": "={{ $json.text }}",
            "is_summarized": "no",
            "title": "={{ $('Gmail Trigger').item.json.Subject }}",
            "from": "={{ $('Gmail Trigger').item.json.From }}",
            "to": "={{ $('Gmail Trigger').item.json.To }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_summarized",
              "displayName": "is_summarized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is last 3 days",
              "displayName": "is last 3 days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        512,
        224
      ],
      "id": "7412db92-c76e-4393-870d-aa30d7c40a20",
      "name": "Google Sheets Add Newsletter",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buw65r2PfdoDfObe",
          "name": "Google Sheets shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        224
      ],
      "id": "6ec54780-0986-4ed6-86db-4ecb329e5848",
      "name": "Newsletters Mark Read",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7821843432938495865"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        592
      ],
      "id": "a3c4d363-38bc-4e70-a368-42ed6a3c98a6",
      "name": "Business",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Receipts').item.json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        752
      ],
      "id": "4d7eb7bc-c0aa-4e4d-a3fe-306519eb64fd",
      "name": "Get Full Receipt",
      "webhookId": "70a9b148-3aec-4d1c-8f27-2f0081ca96c5",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "=",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1F7LrsmWoMqPLfrgxv4DF0hbma7nqNphJ",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F7LrsmWoMqPLfrgxv4DF0hbma7nqNphJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        928
      ],
      "id": "d6714bfd-97be-46fa-9e47-31c1e881e1eb",
      "name": "Upload Receipt",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lzT99XJxHPXykA4E",
          "name": "Google Drive Lab17"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        672,
        720
      ],
      "id": "010e77e5-a6c5-4b6a-8455-e314f70e8389",
      "name": "Read Past Receipts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HlCvE23EcKlAm1Jk",
          "name": "Google Sheets Lab17"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=from: {{ $('Gmail Trigger').item.json.From }}\nbody: {{ $('Get Full Receipt').item.json.text }}\nsubject: {{ $('Gmail Trigger').item.json.Subject }}\nhtml: {{ $('Get Full Receipt').item.json.html }}\nFile data extraction (if exists): \nTitle: {{ $json.info.Title }}\nBody: {{ $json.text }}\nIs error: {{ $json.error }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent ai receipts classifier. Practically my finance sidekick. \n\nYou need to analyze and classify every expense or receipt you get. \nStart by calling \"Read Receipts tool\" and read all past receipts.\n\nfollow this flow:\n1. read the email and classify the expense to fill out the following details: Vendor , amount (with currency), from which email it was sent, description ,receipt id, receipt file extracted data.\nTake a close look at the extracted data from the receipt file. It might contained several charges (for example monthly breakdown). You need to provide only the total. In that case use your Calculator tool to sum charges. \n\nIf you get an invalid file data, or the information can be allocated form there, use your Gmail Tool to get all the email files and read them. \nError: {{ $json.error }}\nIf the error is: Invalid PDF structure, use Gmail Tool to get all files from the email message.\n\n2. You must read all the past receipts by calling your tool \"Read Receipts\". and see if this expense or receipt should be flagged. If it needs to be examined, explain why briefly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        688,
        448
      ],
      "id": "e772da79-c669-4b1d-aa35-a492e66e57d4",
      "name": "Receipts AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Receipt id": "={{ $json.output['receipt id'] }}",
            "Vendor": "={{ $json.output.vendor }}",
            "From": "={{ $json.output.from }}",
            "Amount": "={{ $json.output.amount }}",
            "Description": "={{ $json.output.description }}",
            "Flag": "={{ $json.output.flag }}",
            "Email ID": "={{ $('Get Full Receipt').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Receipt id",
              "displayName": "Receipt id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flag",
              "displayName": "Flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        448
      ],
      "id": "d81613bb-0280-4007-8e4f-f0910736117c",
      "name": "Google Sheets Add Receipt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HlCvE23EcKlAm1Jk",
          "name": "Google Sheets Lab17"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        592
      ],
      "id": "b2a52537-8641-42a4-8de8-b812fb312098",
      "name": "Receipt Mark Read",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE",
          "mode": "list",
          "cachedResultName": "Newsletters_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        880,
        1600
      ],
      "id": "ef7d905f-2d18-43ca-9543-6b4834d347c7",
      "name": "Get_Newsletters1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buw65r2PfdoDfObe",
          "name": "Google Sheets shay152"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        1600
      ],
      "id": "94710ab1-0d8a-4128-882e-e88427b8c85d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a newsletter expert and my content manager, responsible to make me well informed and updated around what i need to know.\nStart by reading all the emails newsletter from the google sheet tool: Get_Newsletters.\n\nOnce you've read everything think about subjects you would like to get more information about. Provide only the subjects you want to deep dive more about as input. Nothing else. The subjects you will output must be spesific things from the newsletters. Don't ask for things that are not mentioned in the newsletters.\n\nI'm very interested in AI , AI agents, how businesses can use gen ai in their flows, building in public, building ai products and things around these lines.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -176,
        1408
      ],
      "id": "d9a58539-4007-4846-984a-93d5ce9fb11a",
      "name": "Mega Newsletter - Enrichment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a newsletter expert and my content manager, responsible to make me well informed and updated around what i need to know.\nStart by reading all the emails newsletter from the google sheet tool: Get_Newsletters.\nYour task is to make a digested , summrized version of all the information in the different newletters, so that i won't miss anything important. \nYou need to ready through every newsletter and decide what's important and what you need i should know and not miss.\nThen you should prepare this newletter digest.\n\n\nRead  all the enrichment material you have here:\n{{ $json.merged_response }}\n\n------------------\n\n1. From all the newsletters create a mega weekly newletter for me. Construct all the different newletters and materials into something that will look as one native newsletter. Add links with text where relevant. Don't be afraid if it is long, it is more important that the quality is good. Make it comprehensive as it is my weekly newsletters newsletter.\n2. Design it in html for me, so it will look like an email sent by apple. Beutiful and fun to read. See the design guidelines below.\n3. Provide only the html, as it will be used to send an email to me. Provide only the html.\n\nDesign Guidelines\nColors\n\nPrimary: Apple blue (#007AFF)\nHeader Gradient: Linear gradient from #007bff to #5856d6\nBackground: Light gray (#F5F5F7)\nText: Dark gray (#1D1D1F)\nSecondary text: Medium gray (#6E6E73)\nCard background: White (#FFFFFF)\nAccent elements: Apple blue (#007AFF)\n\nStyle\n\nMinimalist iOS-inspired design\nRounded corners (12px radius)\nSubtle shadows (0 1px 3px rgba(0,0,0,0.06))\nClean white space\nPill-shaped buttons\nCard-based content organization\nSystem font family (-apple-system, BlinkMacSystemFont)\n\nTypography\n\nFont family: Apple system fonts\nHeading sizes: 24px, 18px, 16px\nBody text: 14px\nButton text: 13px with medium weight\nLine height: 1.5\n\nTone\n\nClear and concise\nProfessional but conversational\nInformative without being overly technical\nAction-oriented with practical tips\nEnthusiastic about AI building and tools\n\nLayout\n\nSingle-column design\n600px maximum width\nClearly defined content sections\nConsistent spacing (24px padding)\nMobile-responsive design",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        1408
      ],
      "id": "15492992-e7c7-410f-b6c3-cac3a9cdd121",
      "name": "Mega Newsletter AI Agent"
    },
    {
      "parameters": {
        "sendTo": "shay@lab17.ai",
        "subject": "Weekly MegaNewsletter!! ",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        1408
      ],
      "id": "6426bbc4-1586-4c8e-bbdf-911327d3049e",
      "name": "Send Newsletter",
      "webhookId": "d308ae73-c7de-43c8-8d04-af581349dcc7",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE",
          "mode": "list",
          "cachedResultName": "Newsletters_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZvqqsRPs1GTLrPegLYxm1W_BLEl0l-AUf2vCj9UR7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J0OzZoD8ovlw2ox0KNOPWKXE3XCl5xbCISzuLyeqkBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_summarized": "yes",
            "row_number": 0
          },
          "matchingColumns": [
            "is_summarized"
          ],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_summarized",
              "displayName": "is_summarized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is last 3 days",
              "displayName": "is last 3 days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1248,
        1408
      ],
      "id": "24e8daac-cb93-4477-aa87-2ceebae65a21",
      "name": "Google Sheets Add Newsletter1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buw65r2PfdoDfObe",
          "name": "Google Sheets shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        480
      ],
      "id": "3f652da3-ef6d-4c7a-a276-4842ebbb82a8",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        960,
        752
      ],
      "id": "5b918d65-9c5a-41e8-9db8-44f231e028bc",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwihHpdu7vG4sPwtnOpWOIv4Xv3Foz4YQE-Lt6xEZN8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File": "={{ $json.webViewLink }}",
            "Email ID": "={{ $('Get Full Receipt').item.json.id }}"
          },
          "matchingColumns": [
            "Email ID"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Receipt id",
              "displayName": "Receipt id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flag",
              "displayName": "Flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1184,
        928
      ],
      "id": "4f95770e-501d-494a-9d08-3d00f7cf288d",
      "name": "Google Sheets Add Receipt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HlCvE23EcKlAm1Jk",
          "name": "Google Sheets Lab17"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Get Full Receipt').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        832,
        720
      ],
      "id": "081a72ce-3259-4c0c-b488-345b3d7f0103",
      "name": "Gmail Tool",
      "webhookId": "77af872e-ce02-458d-9a2d-e7bb3eb6e361",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4370302036678373008"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1152
      ],
      "id": "b6454116-7cf4-4b69-a51f-d5a6c65fa36e",
      "name": "Social",
      "webhookId": "f546eda8-46ce-42e3-a0de-047ee73a9b33",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        1152
      ],
      "id": "0264744c-3a44-44ef-9d77-1278a9b92484",
      "name": "Mark as read1",
      "webhookId": "2d2d23a1-58e2-4eaf-b528-0198bb7513ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "DraeG8cbeJ385KwE",
          "name": "Gmail shay152"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        704
      ],
      "id": "745e1a55-f633-471b-a63c-7ced14f242ef",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ptyw8Bm8KfSTqnQj",
          "name": "OpenAI Lab17"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\n\nTopics:\n{{ $json.output }}"
            }
          ]
        },
        "options": {
          "includeMergedResponse": true,
          "webSearch": true,
          "maxUses": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        176,
        1408
      ],
      "id": "3594b438-1723-45f9-867d-6995a953644d",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "aMhJ74R69HXYar8O",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Promotions": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipts": {
      "main": [
        [
          {
            "node": "Get Full Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletters": {
      "main": [
        [
          {
            "node": "Get Full Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_Newsletters": {
      "ai_tool": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Promotions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receipts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Newsletter": {
      "main": [
        [
          {
            "node": "Google Sheets Add Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Add Newsletter": {
      "main": [
        [
          {
            "node": "Newsletters Mark Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Receipt": {
      "main": [
        [
          {
            "node": "Upload Receipt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Receipt": {
      "main": [
        [
          {
            "node": "Google Sheets Add Receipt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Past Receipts": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receipts AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets Add Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Add Receipt": {
      "main": [
        [
          {
            "node": "Receipt Mark Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Newsletters1": {
      "ai_tool": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mega Newsletter - Enrichment": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mega Newsletter AI Agent": {
      "main": [
        [
          {
            "node": "Send Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter": {
      "main": [
        [
          {
            "node": "Google Sheets Add Newsletter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "Mark as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb996abf-e790-4aca-bbb0-fea185d57dab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da3b977dba2baf342ff54f2a19901e9b8b6f67e2ffb5e56c9485823b1ebc4782"
  },
  "id": "R9q5Fqvyw3tQ9WFP",
  "tags": []
}